<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR Dice - Create Account</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='create_account/create_account.css') }}">
</head>

<body>

    <div class="toolbar">
        <h1>OCR Dice - Create Account</h1>
        <div class="toolbar_buttons">
            <input type="button" id="dashboard" value="Dashboard">
        </div>
    </div>

    <div class="container">
        <h2 class="box_title">Enter Your Account Details And Date Of Birth</h2>
        <p class="info" id="info"></p>
        <div class="main_box">
            <form class="centre_box" id="create_account_form">
                <input type="text" placeholder="Username" id="createAcc_username">
                <input type="password" placeholder="Password" id="createAcc_password1">
                <input type="password" placeholder="Repeat Password" id="createAcc_password2">
                <input type="date" id="createAcc_dob" value="2000-01-01"> 
                <input type="submit" id="submit_button" value="Submit">
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='create_account/create_account.js') }}"></script>

</body>
</html>