<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR Dice - Home Page</title>
    <link rel="stylesheet" href= "{{ url_for('home/home.css') }}"> <!-- yh fix the url for-->
</head>
<body>
    <div class="container">
        <div class="toolbar">
            <div class="top_menu">
                <h1>OCR Dice</h1>
                <div class="options">

                </div>
            </div>
            <div class="bottom_menu">
                
            </div>
        </div>
    </div>
</body>